@model TourCore.Models.ViewModels.TourViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@{
    ViewData["Title"] = "EditTour";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 style="text-align:center;color:brown">Chỉnh sửa tour du lịch @Model.NameTour</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("EditTour", "Admin", FormMethod.Post))
        {
            <input type="hidden" name=@Model.Id />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label name= "Code" class="control-label">Mã Tour</label>
                <input name= "Code" class="form-control" value=@Model.Code/>
                <span asp-validation-for=@Model.Code class="text-danger"></span>
            </div>
            <div class="form-group">
                <label name= "Day" class="control-label">Ngày</label>
                <input name="Day" class="form-control" value=@Model.Day />
                <span asp-validation-for=@Model.Day class="text-danger"></span>
            </div>
            <div class="form-group">
                <label name="Nigth" class="control-label">Đêm</label>
                <input name="Night" class="form-control" value=@Model.Night />
                <span asp-validation-for=@Model.Night class="text-danger"></span>
            </div>
            <div class="form-group">
                <label name="Cost" class="control-label">Giá Tiền</label>
                <input name="Cost" class="form-control" value=@Model.Cost />
                <span asp-validation-for=@Model.Cost class="text-danger"></span>
            </div>
          

            <div class="form-group">
                <label name="Quantity" class="control-label">Số Lượng</label>
                <input name="Quantity" class="form-control" value=@Model.Quantity />
                <span asp-validation-for=@Model.Quantity class="text-danger"></span>
            </div>
            <div class="form-group">
                <label name="Description" class="control-label">Mô tả chi tiết</label>
                <input name="Description" class="form-control" value=@Model.Description />
                <span asp-validation-for=@Model.Description class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        }
    </div>
</div>



